{include file="public/header"}

<body class="layui-anim layui-anim-up">
  <div class="x-nav">
    <!-- <span class="layui-breadcrumb">
      <a href="">首页</a>
      <a href="">演示</a>
      <a>
        <cite>导航元素</cite></a>
    </span> -->
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
      href="javascript:location.replace(location.href);" title="刷新">
      <i class="layui-icon" style="line-height:30px">ဂ</i></a>
  </div>
  <div class="x-body">
    <div class="layui-row">
      <form class="layui-form layui-col-md12 x-so" action="{:url('user/index')}" method="POST">
        <input class="layui-input" placeholder="开始日" name="start" id="start">
        <input class="layui-input" placeholder="截止日" name="end" id="end">
        <input type="text" name="nickname" id="nickname" placeholder="请输入用户名" autocomplete="off" class="layui-input">
        <button class="layui-btn" type="submit" name="submit"><i class="layui-icon">&#xe615;</i></button>
      </form>
    </div>
    <xblock>
      <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
      <!-- <button class="layui-btn" onclick="x_admin_show('添加用户','./add.html',600,400)"><i
          class="layui-icon"></i>添加</button> -->
      <span class="x-right" style="line-height:40px">共有数据：{$count} 条</span>
    </xblock>
    <table class="layui-table">
      <thead>
        <tr>
          <th>
            <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i>
            </div>
          </th>
          <th style="width: 20px;">ID</th>
          <td style="width: 100px;">OpenId</th>
          <th>用户名</th>
          <th>头像</th>
          <th>真实姓名</th>
          <th>手机号</th>
          <th>所属单位</th>
          <th>加入时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      {volist name="user" id="vo"}
      <tbody>
        <tr>
          <td>
            <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{$vo.id}'><i
                class="layui-icon">&#xe605;</i></div>
          </td>
          <td>{$vo.id}</td>
          <td>{$vo.openid}</td>
          <td>{$vo.nickname}</td>
          <td><img src="{$vo.headimgurl}" class="img-circle" style="width:50px;height:50px;border-radius:50px"></td>
          <td>{$vo.real_name}</td>
          <td>{$vo.phone}</td>
          <td>{$vo.company}</td>
          <td>{$vo.create_time}</td>
          <td class="td-status">
            {if condition="$vo.status == 1"}
            <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
          <td class="td-manage">
            <a onclick="user_stop(this,'{$vo.id}')" href="javascript:;" title="停用">
              <i class="layui-icon">&#xe601;</i>
            </a>
            {else /}
            <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>
          <td class="td-manage">
            <a onclick="user_stop(this,'{$vo.id}')" href="javascript:;" title="启用">
              <i class="layui-icon">&#xe62f;</i>
            </a>
            {/if}
            <a title="编辑" onclick="x_admin_show('编辑','edit.html?id={$vo.id}',600,400)" href="javascript:;">
              <i class="layui-icon">&#xe642;</i>
            </a>
            <!-- <a onclick="x_admin_show('修改密码','user-password.html',600,400)" title="修改密码" href="javascript:;">
                <i class="layui-icon">&#xe631;</i>
              </a> -->
            <a title="删除" onclick="user_del('{$vo.id}')" href="javascript:;">
              <i class="layui-icon">&#xe640;</i>
            </a>
          </td>
        </tr>
        {/volist}
      </tbody>
    </table>
    <div class="page">
      {$page}
    </div>
  </div>



  <script>
    layui.use('laydate', function () {

      var laydate = layui.laydate;

      //执行一个laydate实例
      laydate.render({
        elem: '#start', //指定元素
        type: 'datetime'

      });

      //执行一个laydate实例
      laydate.render({
        elem: '#end', //指定元素
        type: 'datetime'
      });
    });


    /*用户-停用*/
    function user_stop(obj, id) {

      if ($(obj).attr('title') == '停用') {
        layer.confirm('确认要停用吗？', function (index) {
          $.post("{:url('user/end')}", {
            id: id
          }, function (data) {
            //发异步把用户状态进行更改
            $(obj).attr('title', '启用')
            $(obj).find('i').html('&#xe62f;');

            $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
            layer.msg('已停用!', {
              icon: 5,
              time: 1000
            });
          })

        })
      } else {
        layer.confirm('确认要启用吗？', function (index) {
          $.post("{:url('user/start')}", {
            id: id
          }, function (data) {
            //发异步把用户状态进行更改
            $(obj).attr('title', '停用')
            $(obj).find('i').html('&#xe601;');

            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
            layer.msg('已启用!', {
              icon: 6,
              time: 1000
            });
          })

        })
      }


    }

    /*用户-删除*/
    function user_del(id) {
      layer.confirm('确认要删除吗？', function (index) {
        //发异步删除数据
        $.post("{:url('user/delete')}", {
          id: id
        }, function (data) {
          //发异步把用户状态进行更改
          layer.msg(data.msg, {
            icon: 1,
            time: 1000,
            end: function () {
              window.location.href = "{:url('user/index')}";
            }
          });

        })

      });
    }



    function delAll(argument) {

      var data = tableCheck.getData();
      layer.confirm('确认要删除吗？' + data, function (index) {
        // 将数组转化为字符串data.join(',')
        $.post("{:url('user/delete')}", { id: data.join(',') }, function (data) {
          //发异步把用户状态进行更改
          layer.msg(data.msg, {
            icon: 1,
            time: 1000,
            end: function () {
              // $(".layui-form-checked").not('.header').parents('tr').remove();
              window.location.reload();
            }
          });
        })

      });
    }
  </script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</body>

</html>