
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<script src="/hct/WeChat/JS/flexible.js"></script>
	<link rel="stylesheet" href="/hct/WeChat/CSS/jquery-weui.min.css">
	<link rel="stylesheet" href="/hct/WeChat/CSS/weui.min.css">
	<script src="/hct/WeChat/JS/jquery.min weui.js"></script>
	<script src="/hct/WeChat/JS/vue.min.js"></script>
	<script src="/hct/WeChat/JS/jquery-weui.min.js"></script>